<header>
  <h1>{{ shop.name }}</h1>
  <ul>
    {%-  for link in linklists.main-menu.links -%}
      <li class='nav-links'>{{ link.title | link_to: link.url }}</li>
      {%- endfor -%}
  </ul>
</header>

<style>
}
  header{
    display: grid;
    grid-template-columns: auto auto;
    
  }
  li{
    display: inline;
    float: right;
    position: right;
  }
  .nav-links{
    display: block;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    margin: 0px;
  }
  a{
    text-decoration: none;
    font-family: Arial, sans serif;
  }
</style>