<header>
  <h1>{{ shop.name }}</h1>
  <ul>
    {%-  for link in linklists.main-menu.links -%}
      <li>{{ link.title | link_to: link.url }}</li>
      {%- endfor -%}
  </ul>
</header>

<style>

  header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: blue;
    padding: 8px;
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  li{
    display: inline;
    float: right;
    padding: 10px;
    padding-top:5px;
    border-left: 1px solid black;
  }
  a{
    display: block;
    color: white;
    text-decoration: none;
    font-family: Arial, sans serif;
    font-weight: bold;
  }
</style>