<header>
  <div class='navbar'>
    <div>
      <h1>{{ shop.name }}</h1>
    </div>
  <div class='nav-link-container'>
    {%-  for link in linklists.main-menu.links -%}
      <div class='nav-links'>
      <button class='dropbtn'><i class="fa fa-caret-down"></i></button>
        <div class='drop-content'>
          {{ link.title | link_to: link.url }}
        </div>
      </div>
      {%- endfor -%}
  </div>
  </div>

</header>

<style>
  .navbar{
    overflow: hidden;
  }

  .nav-link-container{
    float: right;
    overflow: hidden;
  }

  .navbar a{
    float: right;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
</style>