<header>
  <div class='navbar'>
    <div>
      <h1>{{ shop.name }}</h1>
    </div>
  <div class='nav-link-container'>
    {%-  for link in linklists.main-menu.links -%}
      <div class='nav-links'>
      <button class='dropbtn'><i class="fa fa-caret-down"></i></button>
        <div class='drop-content'>
          {{ link.title | link_to: link.url }}
        </div>
      </div>
      {%- endfor -%}
  </div>
  </div>

</header>

<style>
  header{
    display: !important grid;
    width: 100%;
    justify-content: space-between;
    grid-template-rows: auto auto;
  }
  .navbar{
    overflow: hidden;
  }

  .nav-link-container{
    float: right;
    overflow: hidden;
  }

  .nav-link-container .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: dimgray;
    padding: 14px 16px;
    margin: 0;
    background-color: inherit;
    font-family: Arial;
  }

  .navbar a:hover, .nav-link-container:hover, .dropbtn{
    background-color: red;
  }

  .drop-content>a{
    float: none;
    color: dimgray;
    padding: 12px 16px;
    text-decoration: none;
    display: !important block;
    text-align: left;
    font-family: Arial;
  }

  .nav-link-container a:hover{
    color: !important white;
  }

  .nav-link-container:hover .drop-content{
    display: block;
  }
</style>