{% paginate collection.products by 4 %}

<h1>{{ collection.title }}</h1>
{% for product in collection.products %}
  {% render "product-item", product: product %}
  {% endfor %}

  {{ paginate | default_pagination }}

  {% endpaginate %}